name: Android Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Kotlin 1.6.21
        run: |
          curl -s https://get.sdkman.io | bash
          source "$HOME/.sdkman/bin/sdkman-init.sh"
          sdk install kotlin 1.6.0
          sdk use kotlin 1.6.0

      - name: Install Yarn dependencies
        run: yarn install --frozen-lockfile

      - name: Build Android release
        run: |
          cd android
          ./gradlew clean
          ./gradlew assembleRelease --no-daemon